<%- include("../partials/header", {date: date}) %>
	<header class="jumbotron">
			<h1><%= unit.name %></h1>
	</header>
	<div class="container">
		<div class="row">
			<div class="card" style="width: 40%;margin: auto;">
				<img src="<%= unit.image %>" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title"><%= unit.name %></h5>
						<p class="card-text">Check in/out time is: <%=unit.checkinout%></p>
						<a href="/unit/<%=unit._id%>/edit" class="btn btn-warning">Edit</a>
				    </div>
				
			</div>
		</div>
		<a class="row" href="/unit" style="justify-content: center;">Back to all units</a>
		
	</div>


<%- include("../partials/footer") %>