<%- include("../partials/header", {date: date}) %>
<header class="jumbotron" id="jumbo">
	<h1 id="pageName"><a class="navbar-brand" href="/" id="pageName">AirBnb Workspace</a></h1>
</header>
	<div class="container" id="flash_mes">
	<% if(error && error.length > 0){ %>
		<div class="alert alert-danger" role="alert"><%= error %></div>
	<% } %>
	<% if(success && success.length >0){ %>
		<div class="alert alert-success" role="alert"><%= success %></div>
	<% } %>
	</div>
<div class="container" id="mainViewContainer">
	<div class="row">
		<div id="createTaskBody">
			<h1 id="headingCreateTask">Edit this task </h1>
			<form action="/task/<%=task._id%>?_method=PUT" method="POST">
				<div class="form-group">
					<input class="form-control" type="date" name="date" value="" min="<%=thisMoment%>" required>
					<% console.log(task.date.toString());%>
				</div>
				<div class="form-group">
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
						<label class="input-group-text" for="inputGroupSelect01">Worker</label>
					</div>
					<select class="custom-select" id="inputGroupSelect01" name="user">
						<option value="<%=task.user.id%>" selected><%=task.user.nickname%></option>
						
						<% users.forEach(function(user){ %>
							<% if(user._id.toString() !== task.user.id.toString()){ %>
								<option value="<%=user._id%>"><%=user.nickname%></option>
							<% } %>
						<% }) %>
					  </select>
					</div>
				</div>
				<div class="form-group">
						<% task.unit.forEach(function(unit){ %>						
							<input type="checkbox" id="chooseUnit" name="unit" value="<%=unit.name%>" checked>
						<label for="chooseUnit" class="checkBox"><%=unit.name%></label>
						<% }) %>
						<% for(var i=0;i<units.length;i++){ %>
							<% for(var y=0;y<task.unit.length;y++){ %>
								<%if(units[i].name === task.unit[y].name){ %>
									<% units.splice(i,1); %>
								<% } %>
							<% } %>					  			
						<% } %>	
						<% units.forEach(function(unit){ %>
							<input type="checkbox" id="chooseUnit" name="unit" value="<%=unit.name%>">
								<label for="chooseUnit" class="checkBox"><%=unit.name%></label>
						<% }) %>
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="sidenote" placeholder="Add sidenote here">
				</div>
				<div class="form-group">
					<button class="btn btn-block btn_rectangle btn_add">
						Update
					</button>
				</div>
		</form>
			<a id="backLink" href="/task">Back to tasks</a>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>