<%- include("../partials/header", {date: date}) %>
	<div class="container" id="mainViewContainer">
		<div class="row">
			<div class="card text-center" id="feedbackCardBody">
				<div class="card-body borderFeedbackCardDetail">
				<h5 class="card-title"><%= task.date.toDateString() %></h5>
				<h6 class="card-subtitle mb-2" id="nicknameOnTask"><strong><%= task.user.nickname %></strong></h6>
					<form action="/task/<%=task._id%>/feedback" method="POST">
						<div class="form-group">
							<label for="feedbackContent">Enter your feedback here:</label>
							<textarea id="feedbackContent" name="feedback[text]" class="card-text" rows="10" cols="25"></textarea> 	
						</div>			
						<div class="container">
							<div class="row">
								<div class="col" id="viewandDeleteButton">
									<button class="btn btn-block btn_rectangle btn_add">Add</button>
								</div>
							</div>	
						</div>
					</form>
					
				</div>
				
			</div>
		</div>
		<a class="row" id="backLink" href="/task">Back to allocated tasks</a>
	</div>
<%- include("../partials/footer") %>