<%- include("../partials/header") %>
	<header class="jumbotron">
		<h1>You are in main work station</h1>
	</header>
	<div class="container" style="padding: 0;">
		<div class="row">
			<% tasks.forEach(function(task){ %>
				<div class="col-sm-4 mb-4">
					<div class="card h-100">
						<div class="card-body">
							<h5 class="card-title"><%=task.date%></h5>
							<p class="card-text">Following units: <%=task.unit%></p>
							<a href="/task/<%=task._id%>" class="btn btn-primary">View</a>
							<form action="/task/<%=task._id%>?_method=delete" method="POST">
								<button class="btn btn-danger">Delete</button>
							</form>
						</div>
					</div>
				</div>
			<% }) %>
		</div>
	</div>
	<a href="/task/new">Add new tasks</a>





<%- include("../partials/footer") %>