<%- include("../partials/header", {date: date}) %>
<header class="jumbotron" id="jumbo">
	<h1 id="pageName"><a class="navbar-brand" href="/" id="pageName">AirBnb Workspace</a></h1>
</header>
	<div class="container" id="flash_mes">
	<% if(error && error.length > 0){ %>
		<div class="alert alert-danger" role="alert"><%= error %></div>
	<% } %>
	<% if(success && success.length >0){ %>
		<div class="alert alert-success" role="alert"><%= success %></div>
	<% } %>
	</div>
<div class="container" id="mainViewContainer">
	<div class="row">
		<div id="createTaskBody">
			<h1 id="headingCreateTask">
				Create new task 
			</h1>
			<form action="/task" method="POST">
				<div class="form-group">
					<input class="form-control" type="date" name="date" min="<%=thisMoment%>" required>
				</div>
				<div class="form-group">
					<div class="input-group mb-3">
					  <div class="input-group-prepend">
						<label class="input-group-text" for="inputGroupSelect011">Worker</label>
					  </div>
					  <select class="custom-select" id="inputGroupSelect011" name="user" required>
						<option value="">Assign new worker</option>
						  
						<% users.forEach(function(user){ %>
							<option value="<%=user._id%>"><%=user.nickname%></option>
						<% }) %>
					  </select>
					</div>
				</div>
				<div class="form-group">
					
						<% units.forEach(function(unit){ %>
							<label for="chooseUnit" class="checkBox"><%=unit.name%>
								<input type="checkbox" id="chooseUnit" name="unit" value="<%=unit.name%>">
							</label>
						<% }) %>	
					
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="sidenote" placeholder="Add sidenote here">
				</div>
				<div class="form-group">
					<button class="btn btn-block btn_rectangle btn_add">
						Add
					</button>
				</div>
			</form>
			<a id="backLink" href="/task">Back to tasks</a>
		</div>
		
		
	</div>
	
</div>

<%- include("../partials/footer") %>