<%- include("../partials/header", {date: date}) %>
<header class="jumbotron" id="jumbo">
	<h1 id="pageName"><a class="navbar-brand" href="/" id="pageName">AirBnb Workspace</a></h1>
</header>
	<div class="container" id="flash_mes">
	<% if(error && error.length > 0){ %>
		<div class="alert alert-danger" role="alert"><%= error %></div>
	<% } %>
	<% if(success && success.length >0){ %>
		<div class="alert alert-success" role="alert"><%= success %></div>
	<% } %>
	</div>
	<div class="container" id="mainViewContainer">
		<div class="row">
			<div class="card text-center" id="taskCardBodyDetail">
				<div class="card-body borderTaskCardDetail">
				<h5 class="card-title"><%= task.date.toDateString() %></h5>
				<h6 class="card-subtitle mb-2 " id="nicknameOnTask"><strong><%= task.user.nickname %></strong></h6>
					<p class="card-text" id="taskListInTaskCardDetail">
					<span id="sidenoteFeedback">Assigned tasks:</span> 
					</p>
					<form action="/task/<%=task._id%>/status?_method=PUT" method="POST">
						<input name="date" value="<%=task.date%>" hidden>
						<input name="user" value="<%=task.user%>" hidden>
						<input name="unit" value="<%=task.unit%>" hidden>
						<input name="sidenote" value="<%=task.sidenote%>" hidden>
						
						<ul id="unitListInTaskCardDetail">
						<% task.unit.forEach(function(name){ %>
							<% if(name.status === "Not started"){ %>
								<li><%=name.name%> - <span id="notStarted"><%=name.status%></span>
								<% if(currentUser&&currentUser.isManager === false&&task.date.getTime()>=dateNow.getTime()){%>
									<button class="btn btn_status" name="nextTaskStatus" type="submit" value="<%=name._id%>">Start</button>
									<% } %>
								</li>
								<% } %>
							<% if(name.status === "In progress"){ %>
								<li><%=name.name%> - <span id="inProgress"><%=name.status%></span>
								<% if(currentUser&&currentUser.isManager === false&&task.date.getTime()>=dateNow.getTime()){%>
								<button class="btn btn_status" name="nextTaskStatus" type="submit" value="<%=name._id%>">Finish</button><% } %>
								</li>
								<% } %>
							<% if(name.status === "Cleaning done"){ %>
								<li><%=name.name%> - <span id="cleaningDone"><%=name.status%></span>
								<% if(currentUser&&currentUser.isManager === false&&task.date.getTime()>=dateNow.getTime()){%>
								<button class="btn btn_status" name="nextTaskStatus" type="submit" value="<%=name._id%>">Send keys</button><% } %>
								</li>
							<% } %>
							<% if(name.status === "All done"){ %>
								<li><%=name.name%> - <span id="allDone"><%=name.status%></span></li>
							<% } %>
						<% }) %>
						</ul>
					</form>
										
				<p class="card-text" id="taskListInTaskCardDetail">
					<span id="sidenoteFeedback">Sidenote:</span> <%= task.sidenote %>
				</p>
				<p class="card-text" id="taskListInTaskCardDetail">
					<span id="sidenoteFeedback">Feedback:</span><br>
					<% task.feedback.forEach(function(feedback){ %>
					<%= feedback.content %> - "<%= feedback.author.nickname %>" -
					<br>
					<% }) %>
				</p>
				</div>
				<div class="container">
					<div class="row">
						<% if(currentUser&&currentUser.isManager){%>
							<div class="col" id="viewandDeleteButton">
								<a href="/task/<%=task._id%>/edit" class="btn btn-block btn_rectangle btn_edit">Edit task</a>	
							</div>
						<% } %>
						<div class="col" id="viewandDeleteButton">
							<form action="/task/<%=task._id%>?_method=delete" method="POST" id="taskDeleteButton">
							<a href="/task/<%=task._id%>/feedback" class="btn btn-block btn_rectangle btn_add">Feedback</a>
							</form>
						</div>	
					</div>	
				</div>
			</div>
		</div>
		<a class="row" id="backLink" href="/task">Back to allocated tasks</a>
	</div>
<%- include("../partials/footer") %>